.Navn{
    background-color:#FFF;
}
.Adresse{
    background-color:#FFF;
}
.Telefon 1{
    background-color:#FFF;
}
.Telefon 2{
    background-color:#FFF;
}
.ManE{
    background-color:#E7FF95;
}
.TirE{
    background-color:#E7FF95;
}
.OnsF{
    background-color:#D8D7D4;
}
.OnsE{
    background-color:#FFE79D;
}
.OnsA{
    background-color:#FFE79D;
}
.OnsH{
    background-color:#FFE79D;
}
.TorA{
    background-color:#FFE79D;
}
.Dage ialt{
    background-color:#D8D7D4;
}
.highlight{
    background-color: #D8D7D4;
}
.chosen{
    background-color: #EFEFEF;
}
.thin{
    background-color: #000;
    height: 2px;
}
.red{
    background-color: #F00;
}
