.mandag{
  background-color:#E7FF95;  
}
.onsdag{
  background-color:#FFE79D;
}
.torsdag{
  background-color:#D8D7D4;
}
.thin{
  background-color: #000;
  height: 2px;
}
.header{
  background-color: #F9F3E7;
}
